
.benefits {
  margin-bottom: calc(-1 * var(--size-7));
  padding: var(--size-6) var(--size-5);
  background-color: white;
  border-radius: 0.2rem;
  transform: translateY(calc(-1 * var(--size-7)));
  box-shadow: 0 0.5rem 3.5rem #EEE;
}

.benefits__card {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: var(--size-6);
}

.benefits__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size-7);
  height: var(--size-7);
  border-radius: 100%;
  background-color: white;
  box-shadow: 0 0.3rem 1.5rem #EEE;
}

.benefits__icon {
  width: var(--size-5);
}

.benefits__subheading {
  width: calc(100% - var(--size-7) - var(--size-3));
  margin-left: auto;
  font-size: var(--size-4);
  line-height: 1.2;
}

.benefits__para {
  margin-top: var(--size-4);
}

@media only screen and (min-width: 768px) {

  .benefits {
    margin-top: var(--size-9);
    margin-bottom: 0;
    padding: 0;
    background-color: none;
    box-shadow: none;
    transform: none;
  }

  .benefits__heading {
    width: 100%;
  }

  .benefits__card {
    align-content: flex-start;
    flex-grow: 1;
    flex-basis: 0;
    margin-top: var(--size-7);
    padding: var(--size-5);
    background-color: white;
    border-radius: 0.2rem;
    box-shadow: 0 0.5rem 3.5rem #EEE;
  }

  .benefits__card--middle {
    margin-left: var(--size-4);
    margin-right: var(--size-4);
  }
}