
body {
  padding-bottom: 100vh;
}

.options {
  margin-top: var(--size-8);
}

.options__header {
  flex-grow: 1;
  /* border: 1px solid blue; */
}

.options__cards {
  flex-grow: 1;
  flex-basis: 10rem;
  /* border: 1px solid red; */
}

.options__descripton {
  margin: var(--size-5) 0;
}

.options__btn {
  padding-left: var(--size-6);
  padding-right: var(--size-6);
}