
.service {
  width: 100%;
  margin-top: var(--size-8);
}

.service__header {
  margin: 0 var(--size-4);
}

.service__heading {
  margin-bottom: var(--size-5);
}

.service__card {
  margin-bottom: var(--size-4);
  padding: var(--size-5);
  background-color: #FFF;
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, .1);
}

.service__card-heading {
  display: inline-flex;
  align-items: center;
}

.service__card-heading::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: var(--size-3);
  background-color: var(--gray-3);
  border-radius: 50%;
}

.service__card-description {
  margin-top: var(--size-3);
  color: var(--text-color-light);
}

.service__btn {
  min-width: var(--size-10);
}

.service__photo-box {
  width: 100%;
  margin-top: var(--size-5);
}

.service__photo {
  width: 100%;
}

@media only screen and (min-width: 576px) {
  
  .service__header {
    margin: 0 var(--size-6);
  }
}

@media only screen and (min-width: 768px) {

  .service {
    padding: 0 var(--size-6);
  }

  .service__header,
  .service__photo-box {
    width: 50%;
  }

  .service__header {
    margin: 0;
  }

  .service__photo-box {
    margin-top: 0;
    padding-left: var(--size-5);
  }

  .service__photo {
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (min-width: 992px) {

  .service {
    margin-top: var(--size-9);
  }
}

@media only screen and (min-width: 1085px) {

  .service {
    padding: 0;
  }
}