
.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  padding: var(--size-4);
  position: sticky;
  top: 0;
  left: 0;
}

.header__btn--mobile-menu {
  margin-left: auto;
}

.header__nav {
  display: none;
}

@media only screen and (min-width: 576px) {

  .header {
    padding: var(--size-6);
  }
}

@media only screen and (min-width: 768px) {

  .header__btn--mobile-menu {
    display: none;
  }

  .header__nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: auto;
  }

  .header__btn--nav {
    margin-left: var(--size-3);
  }
}

@media only screen and (min-width: 992px) {

  .header__btn--nav {
    margin-left: var(--size-5);
  }
}