
.welcome__col {
  min-width: 100%;
}

.welcome__col--left {
  min-width: auto;
  max-width: calc(45rem);
  margin-left: auto;
  margin-right: auto;
}

.welcome__heading {
  margin-top: var(--size-6);
  font-size: var(--size-6);
  font-weight: bold;
}

.welcome__message {
  margin-top: var(--size-6);
}

.welcome__btn {
  display: inline-block;
  margin-top: var(--size-6);
  padding-left: var(--size-5);
  padding-right: var(--size-5);
}

.welcome__btn--more {
  margin-right: var(--size-3);
}

.welcome__logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: var(--size-6);
}

.welcome__logos-heading {
  width: 100%;
  font-size: var(--size-3);
  color: var(--gray-4);
}

.welcome__logos-img {
  width: var(--size-10);
}

.welcome__photo {
  width: 100%;
  max-height: 24rem;
  margin-top: var(--size-7);
  object-fit: cover;
}

@media only screen and (min-width: 768px) {

  .welcome__col {
    min-width: auto;
  }

  .welcome__col--left {
    max-width: none;
    margin-right: var(--size-4);
  }

  .welcome__photo {
    max-height: none;
    margin-top: var(--size-6);
  }
}